@use 'variables' as vars;

.card {
  padding: 24px 30px;
  background-color: vars.$color-white;
  box-shadow: 16px 24px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

@each $name, $color in vars.$color-variants {
  $base-color: nth($color, 1);
  $text-color: nth($color, 2);

  .card-#{$name} {
    composes: card;
    background-color: $base-color;
    color: $text-color;
  }
}
