@use 'variables' as vars;

html,
body {
  margin: 0;
}

html {
  // Base font size for rem units
  font-size: vars.$font-size;
  line-height: 1.2;
}

body {
  background-color: vars.$color-body;
  font-family: vars.$font-family;
  font-size: vars.$font-size;
  color: vars.$color-text;
}
